.venv/
**/__pycache__/
.env
**/*.old/
**/node_modules/
**/.DS_Store
.vscode/
.idea/
*.sqlite3
*.log
*.pyc
__pycache__/
instance/
.env.local
.env.*.local
celerybeat-schedule
celerybeat.pid
*.egg-info/
dist/
build/
.data/
data/
rabbitmq_data/
