fastapi
uvicorn[standard]
pydantic
torch
sentence-transformers
requests
# Dependências futuras de AI/DB
psycopg2-binary
# python-dotenv
# ujson
sqlalchemy
cachetools

gunicorn
SQLAlchemy
alembic
httpx
aiocache[redis]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
cryptography
google-generativeai
# ✅ NOVO: Biblioteca para todos os fluxos OAuth
authlib
chromadb
starlette
itsdangerous